{% extends 'landing-base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="row" style="margin-top:55px;">
    <h1>Bienvenue</h1>
    <div class="col-9">
        <div class="row">
            <div class="col-9">
                <p>
                    Explorez notre vaste collection de quiz captivants, conçus pour stimuler votre curiosité et enrichir
                    votre
                    connaissance. Nos quiz couvrent une multitude de sujets, allant de la science à la culture pop, en
                    passant par
                    l'histoire, la géographie, les arts et bien plus encore. Que vous soyez un novice cherchant à en
                    apprendre davantage
                    ou un expert cherchant à tester vos connaissances, nos quiz sont adaptés à tous les niveaux.
                </p>
                <p>Prêt à commencer ? Cliquez sur "Démarrer" pour explorer nos quiz passionnants et commencez votre
                    voyage vers la
                    découverte et la connaissance.</p>
            </div>
            <div class="col-3">
                <img src="https://www.festival-bretagne.fr/wp-content/uploads/2022/04/quizz.png">
            </div>
        </div>
        <h1 class="mt-5">Tendance actuellement</h1>
        <div class="row">

            {% for key, top in topQuizz %}
            <div class="col-md-4 mt-3">
                <div class="card h-100" style="border: 1px solid rgb(218, 218, 218) !important">
                    {{ illustrations(top[0].quizzIllustrations)}}
                    <h5 class="card-header">{{ top[0].title }}</h5>
                    <div class="card-body py-0 ">
                        {{ top[0].description|slice(0, 75) ~ '...' }}


                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_quizz_front_quizz', {'id' : top[0].id})}}"
                            class="btn btn-primary w-100">Tester vos Connaissances</a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h3 class="card-title">Nos categories</h3>
            <div class="card-body p-0">
                <div class="list-group p-0">
                    {% for categorie in categories %}
                    {# {{ dump(categorie)}}categorie.id #}
                    <a href="{{ path('app_quizz_front_listequizz', {'id':categorie.id })}}"
                        class="list-group-item list-group-item-action d-flex justify-content-between">{{ categorie.name
                        }} <span class="badge bg-info">{{ categorie.quizzs|length}} </span></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}