{% if nbillustration < 2 %} 
    
    {% for key, illustration in illustrations %} 
        <img src="{{ asset('uploads/quizzs/') }}{{illustration.file}}" class="rounded-top d-block w-100" alt="">
    {% endfor %}
    
    {% else %}
    <div id="carouselExampleIndicators" class="carousel slide rounded-top" data-bs-ride="true">
        <div class="carousel-indicators">
            {% for key, illustration in illustrations %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ key }}" {% if key==0
                %}class="active" {% endif %} aria-label="Slide {{ key + 1 }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner  rounded-top">
            {% for key, illustration in illustrations %}
            <div class="carousel-item {% if key == 0 %}active{% endif %}">
                <img src="{{ asset('uploads/quizzs/') }}{{illustration.file}}" class="rounded-top d-block w-100"
                    alt="{{ illustration.file }}">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endif %}