{% extends 'landing-base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>{{categories.name}}</h1>

{% for quizz in categories.quizzs %}

<div class="card">
    <h5 class="card-header">{{quizz.title}}</h5>
    <div class="card-body row">
        <div class="col-4">
            <img src="{{ asset('uploads/quizzs/') }}{{quizz.quizzIllustrations[0].file}}" class="rounded-top d-block"
                alt="{{quizz.quizzIllustrations[0].file}}">
        </div>
        <div class="col-8">
            <h5 class="card-title">Description :</h5>
            <p class="card-text" style="text-align: justify;">{{quizz.description}}</p>
        </div>

    </div>
    <div class="card-footer">
        <a href="{{ path('app_quizz_front_quizz', {'id' : quizz.id})}}" class="btn btn-primary">Tester vos
            Connaissances</a>
    </div>
</div>
{% endfor %}

{% endblock %}